@mixin roboto300($font-size, $font-color) {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: $font-size;
  line-height: 117%;
  color: $font-color;
}

@mixin roboto400($font-size) {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size;
  line-height: 125%;
  color: var(--color-main-dark);
}

@mixin roboto500($font-size, $font-color) {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $font-size;
  line-height: 117%;
  color: $font-color;
}

@mixin roboto700($font-size, $font-color) {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: $font-size;
  line-height: 125%;
  color: $font-color;
}

@mixin robotoCondensed400($font-size, $font-color) {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size;
  line-height: 125%;
  color: $font-color;
}

@mixin opensans600($font-size, $font-color) {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: $font-size;
  line-height: 135%;
  color: $font-color;
}

@mixin opensans700($font-size, $font-color) {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: $font-size;
  line-height: 135%;
  color: $font-color;
}

@mixin opensans400($font-size, $font-color) {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size;
  line-height: 135%;
  color: $font-color;
}
